node_modules/
dist/
.env
drizzle/meta/
data/
*.log

.output
.svelte-kit/
/build
.DS_Store

# Env
.env
.env.*
!.env.example
!.env.test

vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Playwright
test-results

.vscode/