* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colour-bg: #f8f9fa;
  --colour-bg-hover: #f4f4f4;
  --colour-bg-lighter: #ffffff;
  --colour-text: #1e2229;
  --colour-text-secondary: #6a7181;
  --colour-muted: #9ca3af;

  --accent-base: #355dd4;
  --accent-shade-100: #3054bf;
  --accent-shade-200: #2a4aaa;
  --accent-shade-300: #254194;
  --accent-shade-400: #20387f;
  --accent-shade-500: #1b2f6a;
  --accent-shade-600: #152555;
  --accent-shade-700: #101c40;
  --accent-shade-800: #0b132a;
  --accent-shade-900: #050915;
  --accent-tint-100: #496dd8;
  --accent-tint-200: #5d7ddd;
  --accent-tint-300: #728ee1;
  --accent-tint-400: #869ee5;
  --accent-tint-500: #9aaeea;
  --accent-tint-600: #aebeee;
  --accent-tint-700: #c2cef2;
  --accent-tint-800: #d7dff6;
  --accent-tint-900: #f5f7fd;

  --colour-border: #e5e7eb;
  --colour-accent-border: #2f53c0;
  --border-radius-outer: 8px;
  --border-radius-inner: 4px;
  --border: 1px solid var(--colour-border);
  --border-accent: 1px solid var(--colour-accent-border);

  --font-body: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --box-shadow: rgba(30, 34, 41, 0.06) 0px 1px 3px 0px, rgba(30, 34, 41, 0.06) 0px 1px 2px -1px;

  --colour-success: #248f47;
  --colour-success-bg: #d3e9da;
  --colour-success-bg-hover: #bdddc8;
  --colour-success-border: #7cbc91;
  --colour-error: #cc3333;
  --colour-error-bg: #f5d6d6;
  --colour-error-bg-hover: #f0c2c2;
  --colour-error-border: #e08585;

  --colour-priority-none: #6b7280;
  --colour-priority-low: #22c55e;
  --colour-priority-medium: #f59e0b;
  --colour-priority-high: #f97316;
  --colour-priority-critical: #ef4444;
}

html {
  font-size: clamp(14px, 1vw, 16px);
}

body {
  background-color: var(--colour-bg);
  color: var(--colour-text);
  font-family: var(--font-body);
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

*:focus-visible {
  outline: 2px solid var(--accent-tint-700);
  outline-offset: 1px;
}
